 {% load static %}
 <!-- Page Footer-->
 <footer class="main-footer">
    <div class="container">
      
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2020. All rights reserved Blog site</p>
          </div>
          <div class="col-md-6 text-right">
            <p>Developed By <a href="https://github.com/arabindamahato" class="text-white"><strong>Arabinda</strong></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>